Rio.Objects/Schemas/0009-000144_ForeignEntityResidence.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000144" xmlns="http://ereg.egov.bg/segment/0009-000144" xmlns:ctlc="http://ereg.egov.bg/value/0008-000024" xmlns:cnc="http://ereg.egov.bg/value/0008-000025" xmlns:san="http://ereg.egov.bg/value/0008-000023" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000024" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000025" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000023" />
  <xsd:complexType name="ForeignEntityResidence">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Седалище на чуждестранно юридическо лице</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CountryISO3166TwoLetterCode" type="ctlc:CountryISO3166TwoLetterCode" minOccurs="0" />
      <xsd:element name="CountryNameCyrillic" type="cnc:CountryNameCyrillic" minOccurs="0" />
      <xsd:element name="SettlementAbroadName" type="san:SettlementAbroadName" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>