Rio.Objects/Schemas/0009-000150_IndividualAdministrativeActRefusal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000150" xmlns="http://ereg.egov.bg/segment/0009-000150" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:esa="http://ereg.egov.bg/segment/0009-000016" xmlns:acu="http://ereg.egov.bg/segment/0009-000073" xmlns:iaarh="http://ereg.egov.bg/value/0008-000138" xmlns:iaarlg="http://ereg.egov.bg/value/0008-000139" xmlns:iaarfg="http://ereg.egov.bg/value/0008-000140" xmlns:iaarat="http://ereg.egov.bg/value/0008-000141" xmlns:iaaraa="http://ereg.egov.bg/value/0008-000142" xmlns:edaq="http://ereg.egov.bg/value/R-2000" xmlns:abn="http://ereg.egov.bg/value/0008-000047" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000016" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000073" />
  <xsd:import namespace="http://ereg.egov.bg/value/R-2000"/>
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000138" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000139" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000140" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000141" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000142" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000047" />
  <xsd:element name="IndividualAdministrativeActRefusal" type="IndividualAdministrativeActRefusal" />
  <xsd:complexType name="IndividualAdministrativeActRefusal">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Отказ за издаване на индивидуален административен акт</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" minOccurs="0" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" minOccurs="0" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" minOccurs="0" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" minOccurs="0" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" minOccurs="0" />
      <xsd:element name="ElectronicServiceApplicant" type="esa:ElectronicServiceApplicant" minOccurs="0" />
      <xsd:element name="IndividualAdministrativeActRefusalHeader" type="iaarh:IndividualAdministrativeActRefusalHeader" minOccurs="0" />
      <xsd:element name="AISCaseURI" type="acu:AISCaseURI" minOccurs="0" />
      <xsd:element name="IndividualAdministrativeActRefusalLegalGround" type="iaarlg:IndividualAdministrativeActRefusalLegalGround" minOccurs="0" />
      <xsd:element name="IndividualAdministrativeActRefusalFactualGround" type="iaarfg:IndividualAdministrativeActRefusalFactualGround" minOccurs="0" />
      <xsd:element name="IndividualAdministrativeActRefusalAppealTerm" type="iaarat:IndividualAdministrativeActRefusalAppealTerm" minOccurs="0" />
      <xsd:element name="IndividualAdministrativeActRefusalAppealAuthority" type="iaaraa:IndividualAdministrativeActRefusalAppealAuthority" minOccurs="0" />
      <xsd:element name="AdministrativeBodyName" type="abn:AdministrativeBodyName" minOccurs="0" />
      <xsd:element name="Official" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ElectronicDocumentAuthorQuality" type="edaq:ElectronicDocumentAuthorQuality" />
            <xsd:choice>
              <xsd:element name="PersonNames" type="pn:PersonNames"/>
              <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames"/>
            </xsd:choice>
            <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" />
          </xsd:sequence>
          <xsd:attribute name="SignatureUniqueID" type="xsd:string" use="required" ></xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>