Rio.Objects/Schemas/0009-000189_DiningAndEntertainmentSite.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000189" xmlns="http://ereg.egov.bg/segment/0009-000189" xmlns:tscc="http://ereg.egov.bg/value/0008-000246" xmlns:tsc="http://ereg.egov.bg/value/0008-000247" xmlns:daestc="http://ereg.egov.bg/value/0008-000260" xmlns:daest="http://ereg.egov.bg/value/0008-000261" xmlns:tsn="http://ereg.egov.bg/value/0008-000250" xmlns:tsa="http://ereg.egov.bg/segment/0009-000180" xmlns:tspn="http://ereg.egov.bg/value/0008-000251" xmlns:ttsc="http://ereg.egov.bg/value/0008-000262" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000246" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000247" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000260" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000261" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000250" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000180" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000251" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000262" />
  <xsd:complexType name="DiningAndEntertainmentSite">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Заведение за хранене и развлечение, подлежащо на категоризация</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TouristSiteCategoryCode" type="tscc:TouristSiteCategoryCode" minOccurs="0" />
      <xsd:element name="TouristSiteCategory" type="tsc:TouristSiteCategory" minOccurs="0" />
      <xsd:element name="DiningAndEntertainmentSiteTypeCode" type="daestc:DiningAndEntertainmentSiteTypeCode" minOccurs="0" />
      <xsd:element name="DiningAndEntertainmentSiteType" type="daest:DiningAndEntertainmentSiteType" minOccurs="0" />
      <xsd:element name="TouristSiteName" type="tsn:TouristSiteName" minOccurs="0" />
      <xsd:element name="TouristSiteAddress" type="tsa:TouristSiteAddress" minOccurs="0" />
      <xsd:element name="TouristSitePhoneNumbers" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TouristSitePhoneNumber" type="tspn:TouristSitePhoneNumber" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TotalSeatsCount" type="ttsc:TotalSeatsCount" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>