Rio.Objects/Schemas/0009-000186_TemporaryCategorizingProcedureCertificate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000186" xmlns="http://ereg.egov.bg/segment/0009-000186" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:mal="http://ereg.egov.bg/segment/0009-000143" xmlns:tstcn="http://ereg.egov.bg/value/0008-000253" xmlns:tstcid="http://ereg.egov.bg/value/0008-000254" xmlns:tsn="http://ereg.egov.bg/value/0008-000250" xmlns:tsa="http://ereg.egov.bg/segment/0009-000180" xmlns:ebd="http://ereg.egov.bg/segment/0009-000013" xmlns:febd="http://ereg.egov.bg/segment/0009-000014" xmlns:res="http://ereg.egov.bg/segment/0009-000142" xmlns:ema="http://ereg.egov.bg/segment/0009-000172" xmlns:tstcv="http://ereg.egov.bg/value/0008-000255" xmlns:opgon="http://ereg.egov.bg/segment/0009-000182" xmlns:opgod="http://ereg.egov.bg/value/0008-000256" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000143" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000253" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000254" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000250" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000180" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000013" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000014" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000142" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000172" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000255" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000182" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000256" />
  <xsd:element name="TemporaryCategorizingProcedureCertificate" type="TemporaryCategorizingProcedureCertificate" />
  <xsd:complexType name="TemporaryCategorizingProcedureCertificate">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Временно удостоверение за открита процедура по категоризиране</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" />
      <xsd:element name="MunicipalityAdministrationLocation" type="mal:MunicipalityAdministrationLocation" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" />
      <xsd:element name="TouristSiteCategorizationTemporaryNumber" type="tstcn:TouristSiteTemporaryCertificateNumber" />
      <xsd:element name="TouristSiteTemporaryCertificateIssueDate" type="tstcid:TouristSiteTemporaryCertificateIssueDate" />
      <xsd:element name="TouristSiteName" type="tsn:TouristSiteName" />
      <xsd:element name="TouristSiteAddress" type="tsa:TouristSiteAddress" />
      <xsd:element name="Owner">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="ForeignEntityBasicData" type="febd:ForeignEntityBasicData" />
            <xsd:element name="BulgarianEntity">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="EntityBasicData" type="ebd:EntityBasicData" />
                  <xsd:element name="Residence" type="res:Residence" />
                  <xsd:element name="EntityManagementAddress" type="ema:EntityManagementAddress" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Tenant">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="ForeignEntityBasicData" type="febd:ForeignEntityBasicData" />
            <xsd:element name="BulgarianEntity">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="EntityBasicData" type="ebd:EntityBasicData" />
                  <xsd:element name="Residence" type="res:Residence" />
                  <xsd:element name="EntityManagementAddress" type="ema:EntityManagementAddress" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TouristSiteTemporaryCertificateValidity" type="tstcv:TouristSiteTemporaryCertificateValidity" />
      <xsd:element name="OpenProcedureGrantOrderNumber" type="opgon:OpenProcedureGrantOrderNumber" />
      <xsd:element name="OpenProcedureGrantOrderDate" type="opgod:OpenProcedureGrantOrderDate" />
      <xsd:element name="Official">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>