Rio.Objects/Schemas/0009-000134_InheritorsCerfiticate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000134" xmlns="http://ereg.egov.bg/segment/0009-000134" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:mal="http://ereg.egov.bg/segment/0009-000143" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:crbd="http://ereg.egov.bg/segment/0009-000135" xmlns:csabd="http://ereg.egov.bg/segment/0009-000164" xmlns:dd="http://ereg.egov.bg/value/0008-000158" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:id="http://ereg.egov.bg/segment/0009-000130" xmlns:fid="http://ereg.egov.bg/segment/0009-000131" xmlns:pa="http://ereg.egov.bg/segment/0009-000094" xmlns:iuid="http://ereg.egov.bg/value/0008-000161" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000143" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000135" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000164" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000158" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000130" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000131" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000094" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000161" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" />
  <xsd:element name="InheritorsCerfiticate" type="InheritorsCerfiticate" />
  <xsd:complexType name="InheritorsCerfiticate">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Удостоверение за наследници</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" />
      <xsd:element name="MunicipalityAdministrationLocation" type="mal:MunicipalityAdministrationLocation" />
      <xsd:element name="DeceasedPerson" type="crbd:CitizenshipRegistrationBasicData" />
      <xsd:element name="DeathAct" type="csabd:CitizenshipStatusActBasicData" />
      <xsd:element name="DateOfDeath" type="dd:DateOfDeath" />
      <xsd:element name="PermanentAddress" type="pa:PersonAddress" />
      <xsd:element name="Inheritors" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Inheritor" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:choice>
                    <xsd:element name="InheritorData" type="id:InheritorData" />
                    <xsd:element name="ForeignInheritorData" type="fid:ForeignInheritorData" />
                  </xsd:choice>
                  <xsd:element name="ParentUID" type="iuid:InheritorUID" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Official">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>