Rio.Objects/Schemas/0009-000190_DiningAndEntertainmentCategorizationApplication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000190" xmlns="http://ereg.egov.bg/segment/0009-000190" xmlns:eash="http://ereg.egov.bg/segment/0009-000152" xmlns:stbt="http://ereg.egov.bg/value/0008-000143" xmlns:sard="http://ereg.egov.bg/segment/0009-000141" xmlns:easf="http://ereg.egov.bg/segment/0009-000153" xmlns:oots="http://ereg.egov.bg/segment/R-3312" xmlns:ad="http://ereg.egov.bg/segment/0009-000139" xmlns:daeca="http://ereg.egov.bg/segment/0009-000189" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000152" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000143"/>
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000141" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000153" />
  <xsd:import namespace="http://ereg.egov.bg/segment/R-3312"/>
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000139" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000189" />
  <xsd:element name="DiningAndEntertainmentCategorizationApplication" type="DiningAndEntertainmentCategorizationApplication" />
  <xsd:complexType name="DiningAndEntertainmentCategorizationApplication">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Заявление за категоризиране на заведения за хранене и развлечение</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ElectronicAdministrativeServiceHeader" type="eash:ElectronicAdministrativeServiceHeader" minOccurs="0" />
	  <xsd:element name="ServiceTermType" type="stbt:ServiceTermType" minOccurs="0"/>
      <xsd:element name="ServiceApplicantReceiptData" type="sard:ServiceApplicantReceiptData" minOccurs="0" />
      <xsd:element name="DiningAndEntertainmentSite" type="daeca:DiningAndEntertainmentSite" minOccurs="0" />
	  <xsd:element name="OwnerOfTouristSite" type="oots:OwnerOfTouristSite" minOccurs="0"/>
      <xsd:element name="AttachedDocuments" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AttachedDocument" type="ad:AttachedDocument" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ElectronicAdministrativeServiceFooter" type="easf:ElectronicAdministrativeServiceFooter" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>