Rio.Objects/Schemas/0009-000123_MaritalStatusCerfiticate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000123" xmlns="http://ereg.egov.bg/segment/0009-000123" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:mal="http://ereg.egov.bg/segment/0009-000143" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:crbd="http://ereg.egov.bg/segment/0009-000135" xmlns:pa="http://ereg.egov.bg/segment/0009-000094" xmlns:msc="http://ereg.egov.bg/value/0008-000210" xmlns:ms="http://ereg.egov.bg/value/0008-000211" xmlns:md="http://ereg.egov.bg/segment/0009-000121" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:pi="http://ereg.egov.bg/segment/0009-000006" xmlns:bd="http://ereg.egov.bg/value/0008-000022" xmlns:cit="http://ereg.egov.bg/segment/0009-000133" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:mscpsn="http://ereg.egov.bg/value/0008-000156" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000143" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000135" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000094" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000210" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000211" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000121" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000006" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000022" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000133" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000156" />
  <xsd:element name="MaritalStatusCerfiticate" type="MaritalStatusCerfiticate" />
  <xsd:complexType name="MaritalStatusCerfiticate">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Удостоверение за семейно положение</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" />
      <xsd:element name="MunicipalityAdministrationLocation" type="mal:MunicipalityAdministrationLocation" />
      <xsd:element name="CitizenshipRegistrationBasicData" type="crbd:CitizenshipRegistrationBasicData" />
      <xsd:element name="PermanentAddress" type="pa:PersonAddress" />
      <xsd:element name="MaritalStatusCode" type="msc:MaritalStatusCode" />
      <xsd:element name="MaritalStatus" type="ms:MaritalStatus" />
      <xsd:element name="Spouse" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MaritalStatusCerfiticatePersonSerialNumber" type="mscpsn:MaritalStatusCerfiticatePersonSerialNumber" />
            <xsd:choice>
              <xsd:element name="PersonNames" type="pn:PersonNames" />
              <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
            </xsd:choice>
            <xsd:element name="PersonIdentifier" type="pi:PersonIdentifier" minOccurs="0" />
            <xsd:element name="BirthDate" type="bd:BirthDate" />
            <xsd:choice>
              <xsd:element name="SpousePermanentAddress" type="pa:PersonAddress" />
              <xsd:element name="Citizenship" type="cit:Citizenship" />
            </xsd:choice>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MinorChildren" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Minor" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="MaritalStatusCerfiticatePersonSerialNumber" type="mscpsn:MaritalStatusCerfiticatePersonSerialNumber" />
                  <xsd:element name="MinorData" type="md:MinorData" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Official">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>