Rio.Objects/Schemas/0009-000152_ElectronicAdministrativeServiceHeader.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000152" xmlns="http://ereg.egov.bg/segment/0009-000152" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:esa="http://ereg.egov.bg/segment/0009-000016" xmlns:ssu="http://ereg.egov.bg/value/0008-000077" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:esacd="http://ereg.egov.bg/segment/0009-000137" xmlns:ssn="http://ereg.egov.bg/value/0008-000131" xmlns:at="http://ereg.egov.bg/value/0008-000144" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:aate="http://ereg.egov.bg/value/0008-000198" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000016" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000077" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000137" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000131" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000144" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000198" />
  <xsd:complexType name="ElectronicAdministrativeServiceHeader">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Водеща част на заявление за предоставяне на електронна административна услуга, когато се изисква идентификация на заявителя.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SUNAUServiceURI" type="ssu:SUNAUServiceURI" minOccurs="0" />
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" minOccurs="0" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" minOccurs="0" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" minOccurs="0" />
      <xsd:element name="ElectronicServiceApplicant" type="esa:ElectronicServiceApplicant" minOccurs="0" />
      <xsd:element name="ElectronicServiceApplicantContactData" type="esacd:ElectronicServiceApplicantContactData" minOccurs="0" />
      <xsd:element name="ApplicationType" type="at:ApplicationType" minOccurs="0" />
      <xsd:element name="SUNAUServiceName" type="ssn:SUNAUServiceName" minOccurs="0" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" minOccurs="0" />
      <xsd:element name="SendApplicationWithReceiptAcknowledgedMessage" type="aate:SendApplicationWithReceiptAcknowledgedMessage" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>