Rio.Objects/Schemas/0009-000138_CitizenshipStatusActAbsenceCertificate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000138" xmlns="http://ereg.egov.bg/segment/0009-000138" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:crbd="http://ereg.egov.bg/segment/0009-000135" xmlns:mal="http://ereg.egov.bg/segment/0009-000143" xmlns:pa="http://ereg.egov.bg/segment/0009-000094" xmlns:pd="http://ereg.egov.bg/segment/0009-000110" xmlns:csat="http://ereg.egov.bg/value/0008-000164" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000135" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000143" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000094" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000110" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000164" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" />
  <xsd:element name="CitizenshipStatusActAbsenceCertificate" type="CitizenshipStatusActAbsenceCertificate" />
  <xsd:complexType name="CitizenshipStatusActAbsenceCertificate">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Удостоверение за липса на съставен акт за гражданско състояние</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" />
      <xsd:element name="MunicipalityAdministrationLocation" type="mal:MunicipalityAdministrationLocation" />
      <xsd:element name="CitizenshipRegistrationBasicData" type="crbd:CitizenshipRegistrationBasicData" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" />
      <xsd:element name="CitizenshipStatusActType" type="csat:CitizenshipStatusActType" />
      <xsd:element name="PermanentAddress" type="pa:PersonAddress" />
      <xsd:element name="MotherData" type="pd:ParentData" minOccurs="0" />
      <xsd:element name="MotherPermanentAddress" type="pa:PersonAddress" minOccurs="0" />
      <xsd:element name="FatherData" type="pd:ParentData" minOccurs="0" />
      <xsd:element name="FatherPermanentAddress" type="pa:PersonAddress" minOccurs="0" />
      <xsd:element name="Official">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>