Rio.Objects/Schemas/0009-000149_MunicipalityInformationAccessRefusal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000149" xmlns="http://ereg.egov.bg/segment/0009-000149" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:miars="http://ereg.egov.bg/segment/0009-000145" xmlns:acu="http://ereg.egov.bg/segment/0009-000073" xmlns:mal="http://ereg.egov.bg/segment/0009-000143" xmlns:iaarlg="http://ereg.egov.bg/value/0008-000139" xmlns:iaarfg="http://ereg.egov.bg/value/0008-000140" xmlns:iaarat="http://ereg.egov.bg/value/0008-000141" xmlns:iaaraa="http://ereg.egov.bg/value/0008-000142" xmlns:nmid="http://ereg.egov.bg/value/0008-000225" xmlns:irtp="http://ereg.egov.bg/value/0008-000175" xmlns:miat="http://ereg.egov.bg/value/0008-000174" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000145" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000073" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000143" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000139" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000140" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000141" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000142" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000225" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000175" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000174" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" />
  <xsd:element name="MunicipalityInformationAccessRefusal" type="MunicipalityInformationAccessRefusal" />
  <xsd:complexType name="MunicipalityInformationAccessRefusal">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Отказ за предоставяне на достъп до публична или непублична общинска информация</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" />
      <xsd:element name="MunicipalityAdministrationLocation" type="mal:MunicipalityAdministrationLocation" />
      <xsd:element name="MunicipalityInformationAccessRightSubject" type="miars:MunicipalityInformationAccessRightSubject" />
      <xsd:element name="NeededMunicipalityInformationDescription" type="nmid:NeededMunicipalityInformationDescription" />
      <xsd:element name="InformationRecordingTechnicalParameters" type="irtp:InformationRecordingTechnicalParameters" minOccurs="0" />
      <xsd:element name="MunicipalityInformationAccessTypes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MunicipalityInformationAccessType" type="miat:MunicipalityInformationAccessType" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AISCaseURI" type="acu:AISCaseURI" />
      <xsd:element name="IndividualAdministrativeActRefusalLegalGround" type="iaarlg:IndividualAdministrativeActRefusalLegalGround" />
      <xsd:element name="IndividualAdministrativeActRefusalFactualGround" type="iaarfg:IndividualAdministrativeActRefusalFactualGround" />
      <xsd:element name="IndividualAdministrativeActRefusalAppealTerm" type="iaarat:IndividualAdministrativeActRefusalAppealTerm" />
      <xsd:element name="IndividualAdministrativeActRefusalAppealAuthority" type="iaaraa:IndividualAdministrativeActRefusalAppealAuthority" />
      <xsd:element name="Official">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>