Rio.Objects/Schemas/0009-000010_ForeignCitizenIdentityDocument.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000010" xmlns="http://ereg.egov.bg/segment/0009-000010" xmlns:fcidn="http://ereg.egov.bg/value/0008-000026" xmlns:fcidt="http://ereg.egov.bg/value/0008-000027" xmlns:ctlc="http://ereg.egov.bg/value/0008-000024" xmlns:cnc="http://ereg.egov.bg/value/0008-000025" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000026" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000027" />
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000024" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000025" />
  <xsd:complexType name="ForeignCitizenIdentityDocument">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Данни за документ за самоличност на физическо лице, нерегистрирано по българското законодателство</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentNumber" type="fcidn:ForeignCitizenIdentityDocumentNumber" minOccurs="0" />
      <xsd:element name="DocumentType" type="fcidt:ForeignCitizenIdentityDocumentType" minOccurs="0" />
      <xsd:element name="CountryCode" type="ctlc:CountryISO3166TwoLetterCode" minOccurs="0" />
      <xsd:element name="CountryName" type="cnc:CountryNameCyrillic" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>