Rio.Objects/Schemas/0009-000151_MunicipalityInformationAbsenceNotification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000151" xmlns="http://ereg.egov.bg/segment/0009-000151" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:acu="http://ereg.egov.bg/segment/0009-000073" xmlns:mal="http://ereg.egov.bg/segment/0009-000143" xmlns:miars="http://ereg.egov.bg/segment/0009-000145" xmlns:nmid="http://ereg.egov.bg/value/0008-000225" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000073" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000143" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000145" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000225" />
  <xsd:element name="MunicipalityInformationAbsenceNotification" type="MunicipalityInformationAbsenceNotification" />
  <xsd:complexType name="MunicipalityInformationAbsenceNotification">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Уведомление към заявителя за липса на исканата публична или непублична общинска информация</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" />
      <xsd:element name="MunicipalityAdministrationLocation" type="mal:MunicipalityAdministrationLocation" />
      <xsd:element name="AISCaseURI" type="acu:AISCaseURI" />
      <xsd:element name="MunicipalityInformationAccessRightSubject" type="miars:MunicipalityInformationAccessRightSubject" />
      <xsd:element name="NeededMunicipalityInformationDescription" type="nmid:NeededMunicipalityInformationDescription" />
      <xsd:element name="Official">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>