Rio.Objects/Schemas/0009-000037_AISObjectClassificationData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000037" xmlns="http://ereg.egov.bg/segment/0009-000037" xmlns:auoau="http://ereg.egov.bg/segment/0009-000028" xmlns:ocd="http://ereg.egov.bg/value/0008-000061" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000028" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000061" />
  <xsd:complexType name="AISObjectClassificationData">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Данни за класифициране на обект в раздел от класификационна схема</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ClassifiedBy" type="auoau:AISUserOrAISURI" />
      <xsd:element name="ClassificationTime" type="ocd:AISObjectClassificationTime" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>