Rio.Objects/Schemas/0009-000174_TaxiTransportationPermission.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000174" xmlns="http://ereg.egov.bg/segment/0009-000174" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:ebd="http://ereg.egov.bg/segment/0009-000013" xmlns:res="http://ereg.egov.bg/segment/0009-000142" xmlns:tittcc="http://ereg.egov.bg/value/0008-000234" xmlns:ema="http://ereg.egov.bg/segment/0009-000172" xmlns:ttrcn="http://ereg.egov.bg/value/0008-000230" xmlns:tittrc="http://ereg.egov.bg/value/0008-000232" xmlns:crg="http://ereg.egov.bg/value/0008-000235" xmlns:ttpv="http://ereg.egov.bg/value/0008-000236" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000142" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000234" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000172" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000232" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000235" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000236" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000013" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000230" />
  <xsd:element name="TaxiTransportationPermission" type="TaxiTransportationPermission" />
  <xsd:complexType name="TaxiTransportationPermission">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Разрешение за таксиметров превоз на пътници</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" />
      <xsd:element name="TaxiTransportRegistrationCertificateNumber" type="ttrcn:TaxiTransportRegistrationCertificateNumber" />
      <xsd:element name="EntityBasicData" type="ebd:EntityBasicData" />
      <xsd:element name="Residence" type="res:Residence" />
      <xsd:element name="TaxisInTaxiTransportersCertificateCount" type="tittcc:TaxisInTaxiTransportersCertificateCount" />
      <xsd:element name="EntityManagementAddress" type="ema:EntityManagementAddress" />
      <xsd:element name="TaxisInTaxiTransportersRegisterCount" type="tittrc:TaxisInTaxiTransportersRegisterCount" minOccurs="0" />
      <xsd:element name="TaxiTransportationPermissionValidity" type="ttpv:TaxiTransportationPermissionValidity" minOccurs="0" />
      <xsd:element name="CarRegistrationNumber" type="crg:CarRegistrationNumber" minOccurs="0" />
      <xsd:element name="Official">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>