Rio.Objects/Schemas/0009-000187_ShelterAndAccommodationCategorizationCertificate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000187" xmlns="http://ereg.egov.bg/segment/0009-000187" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:mal="http://ereg.egov.bg/segment/0009-000143" xmlns:tsccn="http://ereg.egov.bg/segment/0009-000183" xmlns:tsccid="http://ereg.egov.bg/value/0008-000257" xmlns:tsn="http://ereg.egov.bg/value/0008-000250" xmlns:tsa="http://ereg.egov.bg/segment/0009-000180" xmlns:ebd="http://ereg.egov.bg/segment/0009-000013" xmlns:febd="http://ereg.egov.bg/segment/0009-000014" xmlns:res="http://ereg.egov.bg/segment/0009-000142" xmlns:ema="http://ereg.egov.bg/segment/0009-000172" xmlns:tscaon="http://ereg.egov.bg/segment/0009-000184" xmlns:tscaod="http://ereg.egov.bg/value/0008-000258" xmlns:tscc="http://ereg.egov.bg/value/0008-000246" xmlns:tsc="http://ereg.egov.bg/value/0008-000247" xmlns:tsrc="http://ereg.egov.bg/value/0008-000252" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000143" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000183" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000257" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000250" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000180" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000013" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000014" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000142" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000172" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000184" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000258" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000246" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000247" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000252" />
  <xsd:element name="ShelterAndAccommodationCategorizationCertificate" type="ShelterAndAccommodationCategorizationCertificate" />
  <xsd:complexType name="ShelterAndAccommodationCategorizationCertificate">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Удостоверение за категория на обект за подслон или на място за настаняване</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" />
      <xsd:element name="MunicipalityAdministrationLocation" type="mal:MunicipalityAdministrationLocation" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" />
      <xsd:element name="TouristSiteCategoryCertificateNumber" type="tsccn:TouristSiteCategoryCertificateNumber" />
      <xsd:element name="TouristSiteCategoryCertificateIssueDate" type="tsccid:TouristSiteCategoryCertificateIssueDate" />
      <xsd:element name="TouristSiteAddress" type="tsa:TouristSiteAddress" />
      <xsd:element name="TouristSiteName" type="tsn:TouristSiteName" />
      <xsd:element name="TouristSiteCategoryCode" type="tscc:TouristSiteCategoryCode" />
      <xsd:element name="TouristSiteCategory" type="tsc:TouristSiteCategory" />
      <xsd:element name="TouristSiteRoomCount" type="tsrc:TouristSiteRoomCount" />
      <xsd:element name="Owner">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="ForeignEntityBasicData" type="febd:ForeignEntityBasicData" />
            <xsd:element name="BulgarianEntity">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="EntityBasicData" type="ebd:EntityBasicData" />
                  <xsd:element name="Residence" type="res:Residence" />
                  <xsd:element name="EntityManagementAddress" type="ema:EntityManagementAddress" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Tenant">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="ForeignEntityBasicData" type="febd:ForeignEntityBasicData" />
            <xsd:element name="BulgarianEntity">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="EntityBasicData" type="ebd:EntityBasicData" />
                  <xsd:element name="Residence" type="res:Residence" />
                  <xsd:element name="EntityManagementAddress" type="ema:EntityManagementAddress" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TouristSiteCategoryAllocationOrderNumber" type="tscaon:TouristSiteCategoryAllocationOrderNumber" />
      <xsd:element name="TouristSiteCategoryAllocationOrderDate" type="tscaod:TouristSiteCategoryAllocationOrderDate" />
      <xsd:element name="Official">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>