Rio.Objects/Schemas/0009-000077_AISTaskAssessmentProtocol.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000077" xmlns="http://ereg.egov.bg/segment/0009-000077" xmlns:ata="http://ereg.egov.bg/segment/0009-000076" xmlns:ocd="http://ereg.egov.bg/segment/0009-000032" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000076" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000032" />
  <xsd:complexType name="AISTaskAssessmentProtocol">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Протокол от оценяване на изпълнението на задача</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Assessments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AssessmentData" type="ata:AISTaskAssessment" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ObjectCreationData" type="ocd:AISObjectCreationData" />
      <xsd:element name="AdditionalData" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>