Rio.Objects/Schemas/0009-000159_ChangePermanentAddressCertificate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/0009-000159" xmlns="http://ereg.egov.bg/segment/0009-000159" xmlns:drsd="http://ereg.egov.bg/value/0008-000004" xmlns:du="http://ereg.egov.bg/segment/0009-000001" xmlns:espbd="http://ereg.egov.bg/segment/0009-000002" xmlns:dtn="http://ereg.egov.bg/value/0008-000007" xmlns:dtu="http://ereg.egov.bg/segment/0009-000003" xmlns:xds="http://ereg.egov.bg/segment/0009-000004" xmlns:pn="http://ereg.egov.bg/segment/0009-000005" xmlns:fcn="http://ereg.egov.bg/segment/0009-000007" xmlns:pa="http://ereg.egov.bg/segment/0009-000094" xmlns:crbd="http://ereg.egov.bg/segment/0009-000135" xmlns:mal="http://ereg.egov.bg/segment/0009-000143" xmlns:prcd="http://ereg.egov.bg/value/0008-000137" xmlns:idd="http://ereg.egov.bg/segment/0009-000099" xmlns:msc="http://ereg.egov.bg/value/0008-000210" xmlns:ms="http://ereg.egov.bg/value/0008-000211" xmlns:ic="http://ereg.egov.bg/value/0008-000148" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000001" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000002" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000003" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000004" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000094" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000135" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000143" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000137" />
  <xsd:import namespace="http://ereg.egov.bg/segment/0009-000099" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000210" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000211" />
  <xsd:import namespace="http://ereg.egov.bg/value/0008-000148" />
  <xsd:element name="ChangePermanentAddressCertificate" type="ChangePermanentAddressCertificate" />
  <xsd:complexType name="ChangePermanentAddressCertificate">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Удостоверение за промяна на постоянен адрес</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocumentTypeURI" type="dtu:DocumentTypeURI" />
      <xsd:element name="DocumentTypeName" type="dtn:DocumentTypeName" />
      <xsd:element name="DocumentURI" type="du:DocumentURI" />
      <xsd:element name="DocumentReceiptOrSigningDate" type="drsd:DocumentReceiptOrSigningDate" />
      <xsd:element name="MunicipalityAdministrationLocation" type="mal:MunicipalityAdministrationLocation" />
      <xsd:element name="CitizenshipRegistrationBasicData" type="crbd:CitizenshipRegistrationBasicData" />
      <xsd:element name="ElectronicServiceProviderBasicData" type="espbd:ElectronicServiceProviderBasicData" />
      <xsd:element name="NewPermanentAddress" type="pa:PersonAddress" />
      <xsd:element name="PreviousPermanentAddress" type="pa:PersonAddress" />
      <xsd:element name="CurrentAddress" type="pa:PersonAddress" />
      <xsd:element name="IdentityDocumentBasicData" type="idd:IdentityDocumentBasicData" />
      <xsd:element name="MaritalStatusCode" type="msc:MaritalStatusCode" />
      <xsd:element name="MaritalStatus" type="ms:MaritalStatus" />
      <xsd:element name="InfantCount" type="ic:InfantCount" />
      <xsd:element name="PopulationRegisterCircumstanceDate" type="prcd:PopulationRegisterCircumstanceDate" />
      <xsd:element name="Official">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="PersonNames" type="pn:PersonNames" />
            <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDigitalSignature" type="xds:XMLDigitalSignature" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>