Rio.Objects/Schemas/R-4152_AircraftClass.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4152" 
	xmlns="http://ereg.egov.bg/segment/R-4152" 
	xmlns:acc="http://ereg.egov.bg/value/R-4148"
	xmlns:acn="http://ereg.egov.bg/value/R-4150" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	
	<xsd:import namespace="http://ereg.egov.bg/value/R-4148" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4150"  />
	
	<xsd:complexType name="AircraftClass">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Клас въздухоплавателно средство</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AircraftClassCode" type="acc:AircraftClassCode" minOccurs="0" />
			<xsd:element name="AircraftClassName" type="acn:AircraftClassName" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>