Rio.Objects/Schemas/R-4252_OVDQualificationClass.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4252" 
	xmlns="http://ereg.egov.bg/segment/R-4252"
	xmlns:oqcc="http://ereg.egov.bg/value/R-4246"
	xmlns:oqcn="http://ereg.egov.bg/value/R-4248"
	xmlns:oqcne="http://ereg.egov.bg/value/R-4250"		
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	
	<xsd:import namespace="http://ereg.egov.bg/value/R-4246" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4248" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4250" />
	
	<xsd:complexType name="OVDQualificationClass">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Kвалификационен клас за ОВД</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OVDQualificationClassCode" type="oqcc:OVDQualificationClassCode" minOccurs="0" />
			<xsd:element name="OVDQualificationClassName" type="oqcn:OVDQualificationClassName" minOccurs="0" />
			<xsd:element name="OVDQualificationClassNameEnglish" type="oqcne:OVDQualificationClassNameEnglish" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>