Rio.Objects/Schemas/R-4286_CorrespondenceAddress.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4286" 
	xmlns="http://ereg.egov.bg/segment/R-4286"
	xmlns:digc="http://ereg.egov.bg/value/0008-000185" 
	xmlns:dign="http://ereg.egov.bg/value/0008-000186" 
	xmlns:mugc="http://ereg.egov.bg/value/0008-000187" 
	xmlns:mugn="http://ereg.egov.bg/value/0008-000188" 
	xmlns:segc="http://ereg.egov.bg/value/0008-000189" 
	xmlns:segn="http://ereg.egov.bg/value/0008-000190"
	xmlns:pc="http://ereg.egov.bg/value/0008-000128"
	xmlns:ad="http://ereg.egov.bg/value/0008-000194"
	xmlns:pob="http://ereg.egov.bg/value/0008-000136"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000185" />
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000186" />
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000187" />
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000188" />
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000189" />
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000190" />
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000128" />
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000194" />
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000136" />
	
	<xsd:complexType name="CorrespondenceAddress">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Адрес за кореспонденция</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DistrictGRAOCode" type="digc:DistrictGRAOCode" minOccurs="0" />
			<xsd:element name="DistrictGRAOName" type="dign:DistrictGRAOName" minOccurs="0" />
			<xsd:element name="MunicipalityGRAOCode" type="mugc:MunicipalityGRAOCode" minOccurs="0" />
			<xsd:element name="MunicipalityGRAOName" type="mugn:MunicipalityGRAOName" minOccurs="0" />
			<xsd:element name="SettlementGRAOCode" type="segc:SettlementGRAOCode" minOccurs="0" />
			<xsd:element name="SettlementGRAOName" type="segn:SettlementGRAOName" minOccurs="0" />
			<xsd:element name="PostCode" type="pc:PostCode" minOccurs="0" />		
			<xsd:element name="AddressDescription" type="ad:AddressDescription" minOccurs="0" />	
			<xsd:element name="PostOfficeBox" type="pob:PostOfficeBox" minOccurs="0" />			
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>