Rio.Objects/Schemas/R-4388_ProvidingDocument.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4388" xmlns="http://ereg.egov.bg/segment/R-4388" 
	xmlns:st="http://ereg.egov.bg/value/R-4384" 
	xmlns:fidg="http://ereg.egov.bg/value/R-4386" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
    <xsd:import namespace="http://ereg.egov.bg/value/R-4384" />
    <xsd:import namespace="http://ereg.egov.bg/value/R-4386" />
    <xsd:complexType name="ProvidingDocument">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Предоставяне на документ</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SubmissionTime" type="st:SubmissionTime" minOccurs="0" />
      <xsd:element name="FlagIndicatingDocumentGiven" type="fidg:FlagIndicatingDocumentGiven" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>