Rio.Objects/Schemas/R-4546_AircraftSerialNumberTTSN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4546" 
	xmlns="http://ereg.egov.bg/segment/R-4546"
	xmlns:asn="http://ereg.egov.bg/value/R-4334"
	xmlns:eth="http://ereg.egov.bg/value/R-4516"
	xmlns:etlc="http://ereg.egov.bg/value/R-4518"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/value/R-4334" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4516" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4518" />

	<xsd:complexType name="AircraftSerialNumberTTSN">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Заводски номер и наработки на ВС или оборудване на ВС</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AircraftSerialNumber" type="asn:AircraftSerialNumber" minOccurs="0" />
			<xsd:element name="ExploitationStartEngineTTSNHours" type="eth:EngineTTSNHours" minOccurs="0" />			
			<xsd:element name="ExploitationStartEngineTTSNLandingsCount" type="etlc:EngineTTSNLandingsCount" minOccurs="0" />
			<xsd:element name="LastRepairEngineTTSNHours" type="eth:EngineTTSNHours" minOccurs="0" />
			<xsd:element name="LastRepairEngineTTSNLandingsCount" type="etlc:EngineTTSNLandingsCount" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>