Rio.Objects/Schemas/R-4534_Options.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4534" 
	xmlns="http://ereg.egov.bg/segment/R-4534" 
	xmlns:on="http://ereg.egov.bg/value/R-4530"
	xmlns:oc="http://ereg.egov.bg/value/R-4532" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	
	<xsd:import namespace="http://ereg.egov.bg/value/R-4530" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4532"  />
	
	<xsd:complexType name="Options">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Опции</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Option"  minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OptionName" type="on:OptionName" minOccurs="0" />
						<xsd:element name="OptionChoice" type="oc:OptionChoice" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>