Rio.Objects/Schemas/R-4522_AircraftAirworthinessReviewCertificationData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4522" 
	xmlns="http://ereg.egov.bg/segment/R-4522" 
	xmlns:arm="http://ereg.egov.bg/value/R-4340"
	xmlns:acv="http://ereg.egov.bg/value/R-4520"
	xmlns:amn="http://ereg.egov.bg/value/R-4320"
	xmlns:maatc="http://ereg.egov.bg/segment/R-4370"
	xmlns:asn="http://ereg.egov.bg/value/R-4334"
	xmlns:et="http://ereg.egov.bg/segment/R-4504"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/value/R-4340" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4520" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4320" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4370" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4334" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4504" />

	<xsd:complexType name="AircraftAirworthinessReviewCertificationData">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Данни за ВС при удостоверяване на преглед на летателна годност</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AircraftRegistrationMark" type="arm:AircraftRegistrationMark" minOccurs="0" />
			<xsd:element name="AirworthinessCertificateValidity" type="acv:AirworthinessCertificateValidity" minOccurs="0" />
			<xsd:element name="AircraftManufacturerName" type="amn:AircraftManufacturerName" minOccurs="0" />
			<xsd:element name="ModelAircraftAccordingTypeCertificate" type="maatc:ModelAircraftAccordingTypeCertificate" minOccurs="0" />
			<xsd:element name="AircraftSerialNumber" type="asn:AircraftSerialNumber" minOccurs="0" />
			<xsd:element name="ExploitationStartEnginesTTSN" type="et:EnginesTTSN" minOccurs="0" />
			<xsd:element name="LastRepairEnginesTTSN" type="et:EnginesTTSN" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>