Rio.Objects/Schemas/R-4566_AirworthinessExportCertificateApplication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4566" 
	xmlns="http://ereg.egov.bg/segment/R-4566"
	xmlns:eash="http://ereg.egov.bg/segment/0009-000152"
	xmlns:esr="http://ereg.egov.bg/segment/0009-000015"
	xmlns:aaoi="http://ereg.egov.bg/value/R-4298" 
	xmlns:aobd="http://ereg.egov.bg/segment/R-4294"
	xmlns:anao="http://ereg.egov.bg/value/R-4300"
	xmlns:aod="http://ereg.egov.bg/segment/R-4394"
	xmlns:aocn="http://ereg.egov.bg/value/R-4290"
	xmlns:aocid="http://ereg.egov.bg/value/R-4292"
	xmlns:eprres="http://ereg.egov.bg/segment/R-4014"
	xmlns:esaq="http://ereg.egov.bg/value/0008-000035"
	xmlns:adec="http://ereg.egov.bg/segment/R-4550"
	xmlns:edec="http://ereg.egov.bg/segment/R-4552"
	xmlns:pdec="http://ereg.egov.bg/segment/R-4554"
	xmlns:ecai="http://ereg.egov.bg/segment/R-4560"
	xmlns:stc="http://ereg.egov.bg/segment/R-3990"
	xmlns:addc="http://ereg.egov.bg/segment/R-3994"
	xmlns:ece="http://ereg.egov.bg/segment/R-4564"
	xmlns:aip="http://ereg.egov.bg/segment/R-4354"
	xmlns:cres="http://ereg.egov.bg/value/R-4016"
	xmlns:ad="http://ereg.egov.bg/segment/0009-000139"	
	xmlns:easf="http://ereg.egov.bg/segment/0009-000153"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000152" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000015" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4298" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4294" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4300" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4394" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4290" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4292" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4014" />
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000035" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4550" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4552" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4554" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4560" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-3990" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-3994" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4564" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4354"  />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4016" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000139" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000153" />
	
	<xsd:element name="AirworthinessExportCertificateApplication" type="AirworthinessExportCertificateApplication"/>
	<xsd:complexType name="AirworthinessExportCertificateApplication">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Заявление за издаване на експортно удостоверение за летателна годност на ВС</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ElectronicAdministrativeServiceHeader" type="eash:ElectronicAdministrativeServiceHeader" minOccurs="0" />
			<xsd:element name="ElectronicServiceRecipient" type="esr:ElectronicServiceRecipient" minOccurs="0" />
			<xsd:element name="ApplicantAviationalOperatorIndication" type="aaoi:ApplicantAviationalOperatorIndication" minOccurs="0" />	
			<xsd:element name="AviationalOperatorBasicData" type="aobd:AviationalOperatorBasicData" minOccurs="0" />
			<xsd:element name="ApplicantNotAircraftOwner" type="anao:ApplicantNotAircraftOwner" minOccurs="0" />
			<xsd:element name="AircraftOwnerData" type="aod:AircraftOwnerData" minOccurs="0" />
			<xsd:element name="NewOwnerAircraftOwnerData" type="aod:AircraftOwnerData" minOccurs="0" />
			<xsd:element name="NewOwnerApplicantAviationalOperatorIndication" type="aaoi:ApplicantAviationalOperatorIndication" minOccurs="0" />	
			<xsd:element name="AviationalOperatorCertificateNumber" type="aocn:AviationalOperatorCertificateNumber" minOccurs="0" />
			<xsd:element name="AviationalOperatorCertificateIssueDate" type="aocid:AviationalOperatorCertificateIssueDate" minOccurs="0" />
			<xsd:element name="EvidencePersonRepresentingRecipientElectronicService" type="eprres:EvidencePersonRepresentingRecipientElectronicService" minOccurs="0" />
			<xsd:element name="AuthorQuality" type="esaq:ElectronicServiceAuthorQuality" minOccurs="0" />
			<xsd:element name="AircraftDescriptionExportCertificate" type="adec:AircraftDescriptionExportCertificate" minOccurs="0" />
			<xsd:element name="EngineDescriptionExportCertificate" type="edec:EngineDescriptionExportCertificate" minOccurs="0" />
			<xsd:element name="PropellerDescriptionExportCertificate" type="pdec:PropellerDescriptionExportCertificate" minOccurs="0" />
			<xsd:element name="ExportCertificateAdditionalInformation" type="ecai:ExportCertificateAdditionalInformation" minOccurs="0" /> 
			<xsd:element name="SubmissionsTermsCollection" type="stc:SubmissionsTermsCollection" minOccurs="0" />
			<xsd:element name="SupportingDocumentationAttachedDocumentDatasCollection" type="addc:AttachedDocumentDatasCollection" minOccurs="0" />
			<xsd:element name="SupportingDocumentationAdditionalAttachedDocumentDatasCollection" type="addc:AttachedDocumentDatasCollection" minOccurs="0" />			
			<xsd:element name="ExportCertificateExceptions" type="ece:ExportCertificateExceptions" minOccurs="0" /> 
			<xsd:element name="AircraftInspectionPreferences" type="aip:AircraftInspectionPreferences" minOccurs="0" /> 
			<xsd:element name="ConsentReceivingElectronicStatements" type="cres:ConsentReceivingElectronicStatements" minOccurs="0" />
			<xsd:element name="AttachedDocumentDatasCollection" type="addc:AttachedDocumentDatasCollection" minOccurs="0" />
			<xsd:element name="AttachedDocuments" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AttachedDocument" type="ad:AttachedDocument"  maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ElectronicAdministrativeServiceFooter" type="easf:ElectronicAdministrativeServiceFooter" minOccurs="0"/>		
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>