Rio.Objects/Schemas/R-4572_CategoryELVS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4572" 
	xmlns="http://ereg.egov.bg/segment/R-4572" 
	xmlns:cec="http://ereg.egov.bg/value/R-4568"
	xmlns:cen="http://ereg.egov.bg/value/R-4570"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	
	<xsd:import namespace="http://ereg.egov.bg/value/R-4568" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4570" />
		
	<xsd:complexType name="CategoryELVS">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Категория ЕЛВС</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CategoryELVSCode" type="cec:CategoryELVSCode" minOccurs="0" />
			<xsd:element name="CategoryELVSName" type="cen:CategoryELVSName" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>