Rio.Objects/Schemas/R-4612_TypeOfObject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4612" 
	xmlns="http://ereg.egov.bg/segment/R-4612" 
	xmlns:otc="http://ereg.egov.bg/value/R-4608"
	xmlns:otn="http://ereg.egov.bg/value/R-4610"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/value/R-4608" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4610" />

	<xsd:complexType name="TypeOfObject">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Тип обект</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TypeOfObjectCode" type="otc:TypeOfObjectCode" minOccurs="0" />
			<xsd:element name="TypeOfObjectName" type="otn:TypeOfObjectName" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>