Rio.Objects/Schemas/R-4752_FacilityLocation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4752" 
	xmlns="http://ereg.egov.bg/segment/R-4752" 
	xmlns:flc="http://ereg.egov.bg/value/R-4748"
	xmlns:fln="http://ereg.egov.bg/value/R-4750"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/value/R-4748" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4750" />

	<xsd:complexType name="FacilityLocation">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Местоположение на съоръжение</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FacilityLocationCode" type="flc:FacilityLocationCode" minOccurs="0" />
			<xsd:element name="FacilityLocationName" type="fln:FacilityLocationName" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>