Rio.Objects/Schemas/R-4782_TypeChecking.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4782" 
	xmlns="http://ereg.egov.bg/segment/R-4782" 
	xmlns:gtcc="http://ereg.egov.bg/value/R-4772"
	xmlns:tcc="http://ereg.egov.bg/value/R-4778"
	xmlns:tcn="http://ereg.egov.bg/value/R-4780"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/value/R-4772" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4778" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4780" />

	<xsd:complexType name="TypeChecking">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Вид проверка за авиационна сигурност</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GroupTypeCheckingCode" type="gtcc:GroupTypeCheckingCode" minOccurs="0" />
			<xsd:element name="TypeCheckingCode" type="tcc:TypeCheckingCode" minOccurs="0" />
			<xsd:element name="TypeCheckingName" type="tcn:TypeCheckingName" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>