Rio.Objects/Schemas/R-4736_DerogationWithSubcategories.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4736" 
	xmlns="http://ereg.egov.bg/segment/R-4736" 
	xmlns:d="http://ereg.egov.bg/segment/R-4734"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/segment/R-4734" />

	<xsd:complexType name="DerogationWithSubcategories">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Дерогация с подкатегории</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Derogation" type="d:Derogation" minOccurs="0" />
			<xsd:element name="DerogationCategories" type="d:Derogation" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>