Rio.Objects/Schemas/R-4848_Leadership.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4848" 
	xmlns="http://ereg.egov.bg/segment/R-4848" 
	xmlns:mn="http://ereg.egov.bg/value/R-4842"
	xmlns:smn="http://ereg.egov.bg/value/R-4844"
	xmlns:lcn="http://ereg.egov.bg/value/R-4846"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/value/R-4842" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4844" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4846" />

	<xsd:complexType name="Leadership">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Ръководство</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ManagerNames" type="mn:ManagerNames" minOccurs="0" />
			<xsd:element name="SafetyManagerNames" type="smn:SafetyManagerNames" minOccurs="0" />
			<xsd:element name="LeadershipContactNames" type="lcn:LeadershipContactNames" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>