Rio.Objects/Schemas/R-4810_IssuanceMaintenanceCertificateCompetencePerformingTasksApplication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4810" 
	xmlns="http://ereg.egov.bg/segment/R-4810"
	xmlns:eash="http://ereg.egov.bg/segment/0009-000152"
	xmlns:cpin="http://ereg.egov.bg/value/R-4010"
	xmlns:ascn="http://ereg.egov.bg/value/R-4768"
	xmlns:ascd="http://ereg.egov.bg/value/R-4770"
	xmlns:pbd="http://ereg.egov.bg/segment/0009-000008"
	xmlns:pob="http://ereg.egov.bg/segment/0009-000095"
	xmlns:fcbd="http://ereg.egov.bg/segment/0009-000011"
	xmlns:gtc="http://ereg.egov.bg/segment/R-4776"
	xmlns:tc="http://ereg.egov.bg/segment/R-4782"
	xmlns:ase="http://ereg.egov.bg/segment/R-4796"
	xmlns:tm="http://ereg.egov.bg/segment/R-4802"
	xmlns:eraddc="http://ereg.egov.bg/segment/R-4696"
	xmlns:ebd="http://ereg.egov.bg/segment/0009-000013"
	xmlns:febd="http://ereg.egov.bg/segment/0009-000014"
	xmlns:ci="http://ereg.egov.bg/segment/R-4584"
	xmlns:ras="http://ereg.egov.bg/segment/R-4808"
	xmlns:addc="http://ereg.egov.bg/segment/R-3994"
	xmlns:cres="http://ereg.egov.bg/value/R-4016"
	xmlns:ad="http://ereg.egov.bg/segment/0009-000139"	
	xmlns:easf="http://ereg.egov.bg/segment/0009-000153"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000152" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4010" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4768" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4770" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000008" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000095" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000011" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4776" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4782" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4796" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4802" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4696" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000013" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000014" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4584" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4808" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-3994" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4016" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000139" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000153" />	
	
	<xsd:element name="IssuanceMaintenanceCertificateCompetencePerformingTasksApplication" type="IssuanceMaintenanceCertificateCompetencePerformingTasksApplication"/>
	<xsd:complexType name="IssuanceMaintenanceCertificateCompetencePerformingTasksApplication">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Заявление за издаване и поддържане на сертификат за компетентност на лица, изпълняващи задачи по проверка и контрол за сигурност в гражданското въздухоплаване</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ElectronicAdministrativeServiceHeader" type="eash:ElectronicAdministrativeServiceHeader" minOccurs="0" />
			<xsd:element name="CAAPersonalIdentificationNumber" type="cpin:CAAPersonalIdentificationNumber" minOccurs="0" />
			<xsd:element name="AviationSecurityCertificateNumber" type="ascn:AviationSecurityCertificateNumber" minOccurs="0" />
			<xsd:element name="AviationSecurityCertificateDate" type="ascd:AviationSecurityCertificateDate" minOccurs="0" />
			<xsd:element name="PersonBasicData" type="pbd:PersonBasicData" minOccurs="0" />
			<xsd:element name="PlaceOfBirth" type="pob:PlaceOfBirth" minOccurs="0" />
			<xsd:element name="ForeignCitizenBasicData" type="fcbd:ForeignCitizenBasicData" minOccurs="0" />
			<xsd:element name="GroupTypeChecking" type="gtc:GroupTypeChecking" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="TypeChecking" type="tc:TypeChecking" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="AviationSecurityExperiences" type="ase:AviationSecurityExperiences" minOccurs="0" />
			<xsd:element name="InitialTrainingModule" type="tm:TrainingModule" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="PeriodicalTrainingModule" type="tm:TrainingModule" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="EAURecipientsAttachedDocumentDatasCollection" type="eraddc:EAURecipientsAttachedDocumentDatasCollection" minOccurs="0" />
			<xsd:element name="EntityBasicData" type="ebd:EntityBasicData" minOccurs="0" />
			<xsd:element name="ForeignEntityBasicData" type="febd:ForeignEntityBasicData" minOccurs="0" />
			<xsd:element name="ContactInformation" type="ci:ContactInformation" minOccurs="0" />
			<xsd:element name="RecommendationAviationSecurity" type="ras:RecommendationAviationSecurity" minOccurs="0" />
			<xsd:element name="AttachedDocumentDatasCollection" type="addc:AttachedDocumentDatasCollection" minOccurs="0" />
			<xsd:element name="AdditionalEAURecipientsAttachedDocumentDatasCollection" type="eraddc:EAURecipientsAttachedDocumentDatasCollection" minOccurs="0" />
			<xsd:element name="ConsentReceivingElectronicStatements" type="cres:ConsentReceivingElectronicStatements" minOccurs="0" />
			<xsd:element name="AttachedDocuments" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AttachedDocument" type="ad:AttachedDocument"  maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
			<xsd:element name="ElectronicAdministrativeServiceFooter" type="easf:ElectronicAdministrativeServiceFooter" minOccurs="0"/>			
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>