Rio.Objects/Schemas/R-4824_TeacherAviationTrainingCentersApplication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4824" 
	xmlns="http://ereg.egov.bg/segment/R-4824"
	xmlns:eash="http://ereg.egov.bg/segment/0009-000152"
	xmlns:pbd="http://ereg.egov.bg/segment/0009-000008"
	xmlns:pob="http://ereg.egov.bg/segment/0009-000095"
	xmlns:fcbd="http://ereg.egov.bg/segment/0009-000011"
	xmlns:rap="http://ereg.egov.bg/segment/R-4702"
	xmlns:c="http://ereg.egov.bg/segment/R-4816"
	xmlns:atc="http://ereg.egov.bg/segment/R-4822"
	xmlns:addc="http://ereg.egov.bg/segment/R-3994"
	xmlns:eraddc="http://ereg.egov.bg/segment/R-4696"
	xmlns:cres="http://ereg.egov.bg/value/R-4016"
	xmlns:ad="http://ereg.egov.bg/segment/0009-000139"	
	xmlns:easf="http://ereg.egov.bg/segment/0009-000153"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000152" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000008" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000095" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000011" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4702" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4816" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4822" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-3994" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4696" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4016" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000139" />
	<xsd:import namespace="http://ereg.egov.bg/segment/0009-000153" />	
	
	<xsd:element name="TeacherAviationTrainingCentersApplication" type="TeacherAviationTrainingCentersApplication"/>
	<xsd:complexType name="TeacherAviationTrainingCentersApplication">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Заявление за издаване на свидетелство за преподавател към авиационни учебни центрове</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ElectronicAdministrativeServiceHeader" type="eash:ElectronicAdministrativeServiceHeader" minOccurs="0" />
			<xsd:element name="PersonBasicData" type="pbd:PersonBasicData" minOccurs="0" />
			<xsd:element name="PlaceOfBirth" type="pob:PlaceOfBirth" minOccurs="0" />
			<xsd:element name="ForeignCitizenBasicData" type="fcbd:ForeignCitizenBasicData" minOccurs="0" />
			<xsd:element name="RepresentativeAuthorizedPerson" type="rap:RepresentativeAuthorizedPerson" minOccurs="0" />
			<xsd:element name="Course" type="c:Course" minOccurs="0"  maxOccurs="unbounded" />
			<xsd:element name="AviationTrainingCenter" type="atc:AviationTrainingCenter" minOccurs="0" />
			<xsd:element name="AttachedDocumentDatasCollection" type="addc:AttachedDocumentDatasCollection" minOccurs="0" />
			<xsd:element name="EAURecipientsAttachedDocumentDatasCollection" type="eraddc:EAURecipientsAttachedDocumentDatasCollection" minOccurs="0" />
			<xsd:element name="ConsentReceivingElectronicStatements" type="cres:ConsentReceivingElectronicStatements" minOccurs="0" />
			<xsd:element name="AttachedDocuments" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AttachedDocument" type="ad:AttachedDocument"  maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
			<xsd:element name="ElectronicAdministrativeServiceFooter" type="easf:ElectronicAdministrativeServiceFooter" minOccurs="0"/>			
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>