Rio.Objects/Schemas/R-4982_GeneralAuthorizations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4982" 
	xmlns="http://ereg.egov.bg/segment/R-4982" 
	xmlns:sp="http://ereg.egov.bg/segment/R-4970"
	xmlns:cs="http://ereg.egov.bg/segment/R-4978"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/segment/R-4970" />
	<xsd:import namespace="http://ereg.egov.bg/segment/R-4978" />

	<xsd:complexType name="GeneralAuthorizations">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Общи разрешения</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SpecializedPermission" type="sp:SpecializedPermission" minOccurs="0" />
			<xsd:element name="CertificationScopes" type="cs:CertificationScopes" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>