Rio.Objects/Schemas/R-4904_AircraftDataFlightPermit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-4904" 
	xmlns="http://ereg.egov.bg/segment/R-4904" 
	xmlns:at="http://ereg.egov.bg/segment/R-4158"
	xmlns:asn="http://ereg.egov.bg/value/R-4334"
	xmlns:amn="http://ereg.egov.bg/value/R-4320"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/segment/R-4158" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4334" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-4320" />

	<xsd:complexType name="AircraftDataFlightPermit">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Данни за ВС за разрешение за полет</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AircraftType" type="at:AircraftType" minOccurs="0" />
			<xsd:element name="AircraftSerialNumber" type="asn:AircraftSerialNumber" minOccurs="0" />
			<xsd:element name="AircraftManufacturerName" type="amn:AircraftManufacturerName" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>