Rio.Objects/Schemas/R-5030_AircraftModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-5030" 
	xmlns="http://ereg.egov.bg/segment/R-5030" 
	xmlns:amc="http://ereg.egov.bg/value/R-5026"
	xmlns:amn="http://ereg.egov.bg/value/R-5028"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/value/R-5026" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-5028" />

	<xsd:complexType name="AircraftModel">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Модел ВС</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AircraftModelCode" type="amc:AircraftModelCode" minOccurs="0" />
			<xsd:element name="AircraftModelName" type="amn:AircraftModelName" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>