Rio.Objects/Schemas/R-5152_RightsType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-5152" xmlns="http://ereg.egov.bg/segment/R-5152" 
	xmlns:rtc="http://ereg.egov.bg/value/R-5148" 
	xmlns:rtn="http://ereg.egov.bg/value/R-5150" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/value/R-5148" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-5150" />

	<xsd:complexType name="RightsType">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Вид права</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RightsTypeCode" type="rtc:RightsTypeCode" />
			<xsd:element name="RightsTypeName" type="rtn:RightsTypeName" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>