Rio.Objects/Schemas/R-5212_LicenseRestriction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-5212" xmlns="http://ereg.egov.bg/segment/R-5212" 
	xmlns:lrc="http://ereg.egov.bg/value/R-5208" 
	xmlns:lrn="http://ereg.egov.bg/value/R-5210" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/value/R-5208" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-5210" />

	<xsd:complexType name="LicenseRestriction">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Ограничение на СП</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LicenseRestrictionCode" type="lrc:LicenseRestrictionCode" />
			<xsd:element name="LicenseRestrictionName" type="lrn:LicenseRestrictionName" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>