Rio.Objects/Schemas/R-5310_ExperienceHoursCountChoosePlace.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-5310" xmlns="http://ereg.egov.bg/segment/R-5310" 

	xmlns:fetn="http://ereg.egov.bg/value/R-4144" 
	xmlns:hfest="http://ereg.egov.bg/value/R-3992" 
	xmlns:ifeootcat="http://ereg.egov.bg/value/R-5306" 
	xmlns:ifecat="http://ereg.egov.bg/value/R-5308" 
	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/value/R-4144" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-3992" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-5306" />
	<xsd:import namespace="http://ereg.egov.bg/value/R-5308" />

	<xsd:complexType name="ExperienceHoursCountChoosePlace">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Вид летателен опит и уточняване на мястото</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FlightExpTypeName" type="fetn:FlightExpTypeName" minOccurs="0" />
			<xsd:element name="HoursFlyingExperienceSkillTest" type="hfest:HoursFlyingExperienceSkillTest" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="IsFlyingExperienceOperationsOtherThanCommercialAirTransport" type="ifeootcat:IsFlyingExperienceOperationsOtherThanCommercialAirTransport" minOccurs="0" />
			<xsd:element name="IsFlyingExperienceCommercialAirTransport" type="ifecat:IsFlyingExperienceCommercialAirTransport" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>