Rio.Objects/Schemas/R-6004_AuthorNoIdentification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-6004" xmlns="http://ereg.egov.bg/segment/R-6004" 
	xmlns:pn="http://ereg.egov.bg/segment/0009-000005" 
	xmlns:fcn="http://ereg.egov.bg/segment/0009-000007"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
    <xsd:import namespace="http://ereg.egov.bg/segment/0009-000005" />
    <xsd:import namespace="http://ereg.egov.bg/segment/0009-000007" />
	
    <xsd:complexType name="AuthorNoIdentification">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Автор на електронното заявление, когато не се изисква идентификация на заявителя</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="PersonNames" type="pn:PersonNames" />
      <xsd:element name="ForeignCitizenNames" type="fcn:ForeignCitizenNames" />
    </xsd:choice>
  </xsd:complexType>
</xsd:schema>