Rio.Objects/Schemas/R-7092_GoverningBodyEntityAct.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-7092" 
	xmlns="http://ereg.egov.bg/segment/R-7092" 
	xmlns:gbead="http://ereg.egov.bg/value/R-7090"
	xmlns:adui="http://ereg.egov.bg/value/0008-000134"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:import namespace="http://ereg.egov.bg/value/R-7090" />
	<xsd:import namespace="http://ereg.egov.bg/value/0008-000134" />

	<xsd:complexType name="GoverningBodyEntityAct">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Акт на управителен орган на ЮЛ</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GoverningBodyEntityActDate" type="gbead:GoverningBodyEntityActDate" minOccurs="0" />
			<xsd:element name="AttachedDocumentUniqueIdentifier" type="adui:AttachedDocumentUniqueIdentifier" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>